@charset "utf-8";
* {
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', '微軟正黑體', 'Trebuchet MS', sans-serif;

}
/* help */
.mask {
    overflow: hidden;
}
.img-resp {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
.row {
    margin: 0 -12px;
}

.slide {
    width: 100vw;
    height: 100vh;
}
.slide-ls {
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
}
.slide-item {
    width: 100vw;
    height: 100vh;
    padding: 3rem 5rem;
}
/* nav */
.nav {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    top: calc( 50% - 15px) ;
}
.nav-btn {  
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    outline: none;
    border: none;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    margin: 10px;
}
.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* info */
.pd-title {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.3em;
}
.pd-desc {
    color: #fff;
    margin: 1rem 0;
    text-align: justify;
}
.pd-intro {
    width: 50%;
}
/* pic */
.pic-ls {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.pic-item {
    padding: 12px;
    width: 33.33%;
    box-shadow: 5px;
}

.pic-item a {
    display: block;
    position: relative;
}




/* slide-color */
.slide-pdf{
    background-color: #333;
}
.slide-DC{
    background-color: #dd1f8e;
}

.slide-PR{
    background-color: #00a7e2;
}

.slide-AE{
    background-color: #620294;
}

.slide-AI{
    background-color: #ee9a10;
}
.slide-DW{
    background-color: #84c922;
}

/* Module hover-overlay */
.hover-overlay {
    position: relative;
    display: block;
}
.hover-overlay:hover::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Module hover-icon */
.hover-icon {
    position: relative;
    display: block;
}
.hover-icon i {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 3rem;
    justify-content: center;
    z-index: 1;
    color: #fff;
    transform: scale(0);
}

.hover-icon:hover i {
    transform: scale(1);
}



/* Module hover-scale */
.hover-scale {
    position: relative;
    display: block;
}
.hover-scale {
    overflow: hidden;
}

.hover-scale:hover img{
    transform: scale(1.2);
}

/* Module hover-transition */

.hover-transition::after,
.hover-transition i,
.hover-transition > img {
    transition-duration: .5s;
}